{% extends "layout.html" %}

{% block header%}
<title>Change password request | {{ current_user.school_id}}</title>
{%endblock%}

{% block body%}
<div class="container container-form">
    <form method="POST" class="centered">
        <h1 class="greet-2">Reset your password now</h1>
        <p class="greet">You are doing a great thing to keep the internet safe</p>
        <div class="form-group">
            <label for="password" class="mb-2">Your new Password</label>
            <input type="password" autocomplete="off" id="password" name="password" class="form-control" placeholder="Enter New Password" required >
        </div>
        <button type="submit" onclick="sendMail()" class="btn btn-primary mt-3">Change your password</button>
    </form>
</div>



{% raw %}
<script>
    window.addEventListener("DOMContentLoaded", (event) =>{
        var templateParams = {
            subject: '{{ email_subject }}',
            sender: '{{ email_sender }}',
            recipient: '{{ email_recipients }}',
            body: '{{ email_body }}'
        };
    function sendMail() {

        // Send email using emailjs
        emailjs.send('service_u0warqa', 'template_qktzatg', templateParams)
            .then(function(response) {
                // If the email sending is successful, log the success response and show a success alert
                console.log("SUCCESS", response.status, response.text);
                alert("Email Sent Successfully");
            })
            .catch(function(error) {
                // If there is an error in sending the email, log the error and show an error alert
                console.log("FAILED", error);
                alert("Failed to send email. Please try again later");
            });
        }
    })
</script>
{% endraw %}
{%endblock%}




