{% extends "layout.html" %}

{% block header%}
<title>Change password request | {{ current_user.school_id}}</title>
{%endblock%}

{% block body%}
<div class="container container-form">
    <form method="POST" class="centered">
        <h1 class="greet-2">Reset your password now</h1>
        <p class="greet">You are doing a great thing to keep the internet safe</p>
        <div class="form-group">
            <label for="password" class="mb-2">Your new Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter New Password" required >
        </div>
        <button type="submit" class="btn btn-primary mt-3">Change your password</button>
    </form>
</div>




<script>
    var sidemenu = document.getElementById("sidemenu");
        function closemenu(){
            sidemenu.style.top = "-100vh";
        }
        function openmenu(){
            sidemenu.style.top = "0";
        }
</script>
{%endblock%}




